.mainTimerBox {
  background-color: white;
  border-radius: 30px;
  border: 0.5px solid lightgray;
  padding: 2rem;
}

.timerFieldsBox {
  display: flex;
  gap: 1rem;
  align-items: center;
  input {
    max-width: 50px;
  }
  button {
    align-self: stretch;
  }
}

.timerButtonsBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  height: 50px;
  margin-top: 2rem;
}

.gifLoader {
  position: fixed;
  top: -200px;
  // top: 200px;
  right: calc(50vw - 100px);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: contain;
  animation: showItem 1s linear forwards;
  // animation: rotateItem 10s linear infinite;
  // animation: hideItem 1s linear forwards;
}

@keyframes showItem {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(400px);
  }
}
@keyframes rotateItem {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes hideItem {
  from {
    transform: translateY(400px);
  }
  to {
    transform: translateY(0);
  }
}
