.timerSettings {
  position: fixed; // default: static  / relative, absolute, fixed, sticky
  right: 1rem;
  top: 1rem;
}

.dialogMainBox {
  min-width: 500px;
  max-width: 90vw;
  max-height: 90vh;
  padding: 2rem;
  @media (max-width: 650px) {
    min-width: 90vw;
  }
}
